@model IEnumerable<Dictionary.Data.Models.Translation>

@{
    ViewBag.Title = "Index";
    ViewBag.Message = "Hello!";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="jumbotron">
    <h1>Translator</h1>
    <p class="lead">En applikation för att spara, visa och redigera översättningar.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>
                    Översättningar
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        Rubriker
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>