@model IEnumerable<Dictionary.Web.Viewmodels.TranslationViewmodel>

@{
    ViewBag.Title = "Translator";
    ViewBag.Message = "Hello!";
}

    <div class="jumbotron">
        <h1>Dictionary</h1>
        <p class="lead">En applikation för att spara, visa och redigera översättningar.</p>
        <p>
            @Html.ActionLink("Skapa ny översättning", "Create", null, new { @class = "btn btn-default" })
        </p>
    </div>

<div>
    <h3>
        Här kan man skapa översättningar.
    </h3>
</div>