@{
    ViewBag.Title = "Translator";
    ViewBag.Message = "Hello!";
}

    <div class="jumbotron">
        <h1>Dictionary</h1>
        <p class="lead">En applikation för att skapa, visa, redigera och ta bort översättningar.</p>
    </div>

<div>
    
</div>