@model IEnumerable<Dictionary.Web.Viewmodels.TranslationViewmodel>

@{
    ViewBag.Title = "Sök";
}

<h2>Sök översättning</h2>
<h4>På translationkey, currentview eller svensk/engelsk text</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("searchString")
                <input type="submit" value="Sök" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript:void(0);" onclick="history.go(-1);">Tillbaka</a>
</div>
